.profile .pets-container {
    display: flex;
    gap: 30px;
    flex-direction: column;


}

.profile .pet-card {
    border: 1px solid rgba(237, 233, 232, 1);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.profile .pet-card-container {
    display: flex;
    gap: 30px;
}

.profile .pet-card-container-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile .otherInformation {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

.profile .image-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: rgba(255, 197, 158, 1);
}

.profile .image-container a {
    color: #9C0746;
}