.profile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1460px;
    gap: 151px;
    padding-bottom: 100px;
}

.profile .left-side {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
}

.profile .left-side h1 {
    font-family: 'SchoolBook', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
}

.profile .VikaLinks {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.profile .right-side {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}

.PersonalInfo h2 {
    font-family: 'SchoolBook', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}


.profile .PersonalInfo-container {
    background-color: white !important;
    margin-top: 30px;
    display: flex;
    gap: 30px;
    border: 1px solid rgba(237, 233, 232, 1);
    border-radius: 20px;
    padding: 30px 30px;
}

.profile .PersonalInfo-container-left {
    display: flex;
    gap: 30px;
}

.profile img {
    width: 130px;
    height: 130px;
}

.profile .image-container a{
    color: #9C0746;
}

.profile .PersonalInfo-container-left-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile .info-pair {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile h3 {
    font-family: 'Futura New', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0px;
    color: rgba(195, 185, 181, 1);

}

.profile .logout {
    background: transparent;
    outline: none;
    border: none;
    padding: unset;
    font-family: 'Futura New', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: rgba(195, 185, 181, 1);
    border: 1px solid rgba(195, 185, 181, 1);
    padding: 10px 20px;
    border-radius: 10px;
}

.profile .add-pet {
    font-family: 'Futura New', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    background-color: #9C0746;
    padding: 10px 60px;
    align-items: center;
    display: flex;
    gap: 40px;
    width: 820px;
    height: 150px;
}

.profile .PersonalInfo-container-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 409px;
}

.profile .pets {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile .pets h2 {
    font-family: 'SchoolBook', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
}

